<app-header></app-header>
<div class="content-container">
  <div class="formulario-container">
    <div class="form-subtext">
      <h1>Holla, Welcome</h1>
      <p>Welcome to your special place</p>
    </div>
    <form class="formulario">
      <div class="formulario-email">
        <label for="email">
          Email
        </label>
        <input type="email" name="email" id="email" placeholder="Email" required />
      </div>
      <div class="formulario-password">
        <label for="password">
          Password
        </label>
        <input type="password" name="password" id="password" placeholder="Password" required />
      </div>
      <div class="sub-form">
        <div class="remember-me">
          <input type="checkbox" name="remember" id="remember" />
          <label for="remember">
            Remember me
          </label>
        </div>
        <div class="forgot-password">
          <a href="#" class="forgot-password-link">Forgot password?</a>
        </div>
      </div>
      <button type="submit" class="button-submit">Login</button>
      <div class="google-button-container">
        <div id="googleButton"></div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>